#search-form {
    display: none;
}

.card_selection {
    padding-inline: var(--padding_medium);
}

.input_fields {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.input_fields label {
    font-size: var(--fs-h6);
    text-transform: uppercase;
}

.card_selection input[type="text"] {
    width: 100%;
    padding: var(--padding_small);
    margin: var(--margin_medium);
    border: 1px solid var(--border_color);
    border-radius: var(--br-2);
}

.file_uploader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: var(--br);
    margin: var(--margin_medium);
}

.file_uploader #image {
    display: none;
}

.file_uploader label[for="image"] {
    padding: var(--padding_medium) var(--padding_large);
    text-align: center;
    font-weight: 600;
    color: var(--para_color_dark);
    background-color: var(--button_color_dark);
    box-shadow: 1px 0 10px rgba(0, 0, 0, .15);
    border-radius: var(--br);
    cursor: pointer;
}

/* tag labels */

.hidden_checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.styled_label {
    display: inline-block;
    padding: var(--padding_small) var(--padding_medium);
    background: var(--button_color_light);
    color: var(--para_color_dark);
    cursor: pointer;
    border-radius: var(--br-7);
}

.hidden_checkbox:checked+.styled_label {
    background-color: #c0c0c0;
}

#createCardBtn {
    background-color: var(--button_color_dark);
    color: var(--para_color_dark);
    border: none;
    padding: var(--padding_small) var(--padding_medium);
    border-radius: var(--br-7);
    cursor: pointer;
}

.tag_labels {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap_medium);
}


/* media queries */

@media screen and (min-width: 1024px) {
    .input_fields {
        flex-direction: row;
        justify-content: space-between;
    }

    .input_fields label {
        margin-right: 20px;
    }

    .card_selection input[type="text"] {
        width: 50%;
    }

    .file_uploader {
        width: 50%;
    }

    .file_uploader label[for="image"] {
        margin-right: 20px;
    }

    .tag_labels {
        width: 50%;
    }
}
