section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px 20px;
}

ul {
    display: flex;
    gap: 20px;
}

ul li {
font-size: var(--fs-milli);}

/* tags */
.hidden-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.styled-label {
    display: inline-block;
    padding: 10px 20px;
    background: var(--button_color_light);
    color: var(--para_color_dark);
    cursor: pointer;
    border-radius: var(--br-7);
}

.hidden-checkbox:checked+.styled-label {
    background-color: #c0c0c0;
}

#clearTagsBtn {
    background-color: var(--button_color_dark);
    color: var(--para_color_dark);
    border: none;
    padding: 10px 20px;
    border-radius: var(--br-7);
    cursor: pointer;
}

.tag_labels {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


/* Article cards */
.article_cards {
    display: grid;
    grid-template-columns: var(--grid_template_columns);
}

.article_cards article {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
    width: 100%;
    margin: auto;
}

.article_cards article:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.article_cards article img {
    height: 350px;
    width: 100%;
    border-radius: var(--br-7);
    object-fit: cover;
}

.article_cards article .container {
    padding: 2px 16px;
}

h2 {
    font-size: var(--fs-h4);
    text-transform: uppercase;
}

.user_likes {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.user_likes p {
    font-weight: 500;
    font-size: clamp(var(--min-text-font-size),var(--preferred-text-font-size),var(--max-text-font-size));
    color: var(--para_color_light);
}

/* sort form */

#sortForm {
    margin: 20px 0;
}

#sort {
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px;
    background-color: #f8f8f8;
}
