.hidden-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.styled-label {
    display: inline-block;
    padding: 10px;
    background: var(--button_color_light);
    color: var(--para_color_dark);
    cursor: pointer;
    border-radius: var(--br-7);
}

.hidden-checkbox:checked + .styled-label {
    background-color: #c0c0c0;
}

#clearTagsBtn {
    background-color: var(--button_color_dark);
    color: var(--para_color_dark);
    border: none;
    padding: 10px 20px;
    border-radius: var(--br-7);
    cursor: pointer;
}
