/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  9. Remove default button styles
*/
button {
  background: none;
  border: none;
  cursor: pointer;
}

/*
  10. Remove default list styles
*/
li{
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  /* colors */
  --accent_color: #ff4f14;
  --secondary_color: #9d2710;
  --bg_color_dark: #1f2120;
  --bg_color_light: #ddd1c0;
  --title_color_dark: #ddd1c0;
  --title_color_light: #1f2120;
  --para_color_dark: #ddd1c0;
  --para_color_light: #1f2120;
  --subtitle_color_dark: #ff4f14;
  --subtitle_color_light: #9d2710;
  --button_color_dark: #ff4f14;
  --button_color_light: #9d2710;
  --button_neutral_color_dark: #1f2120;
  --button_neutral_color_light: #ddd1c0;
  --border_color_dark: #ddd1c0;
  --border_color_light: #1f2120;



  /* responsive font-size */

  /* paragraph font-size */
  --min-text-font-size: 0.875rem;
  --preferred-text-font-size: 1.5vw;
  --max-text-font-size: 1.125rem;


  /* heading font sizes */
  --fs-h1: 2.25em;
  /* 36px / 16px = 2.25em */
  --fs-h2: 2em;
  /* 32px / 16px = 2em */
  --fs-h3: 1.75em;
  /* 28px / 16px = 1.75em */
  --fs-h4: 1.5em;
  /* 24px / 16px = 1.5em */
  --fs-h5: 1.25em;
  /* 20px / 16px = 1.25em */
  --fs-h6: 1.125em;
  /* 18px / 16px = 1.125em */

  /* smaller than heading font sizes */
  --fs-milli: 0.875em;
  /* 14px / 16px = 0.875em */

  /* line height */
  --lh-base: 1.5;
  --lh-1: 1.125;
  --lh-2: 1.25;
  --lh-3: 1.375;
  --lh-4: 1.5;
  --lh-5: 1.625;


  /* border radius */
  --br: 0.25em;
  --br-1: 0.5em;
  --br-2: 0.75em;
  --br-3: 1em;
  --br-4: 1.25em;
  --br-5: 1.5em;
  --br-6: 1.75em;
  --br-7: 2em;



  --padding_small: 0.5em;
  --padding_medium: 1em;
  --padding_large: 1.5em;

  --margin_small: 0.5em;
  --margin_medium: 1em;
  --margin_large: 1.5em;
  --margin_xlarge: 4.5em;

  --gap_small: 0.5em;
  --gap_medium: 1em;
  --gap_large: 1.5em;

  --grid_template_columns: repeat(auto-fit, minmax(20rem, 1fr));
}

body {
  min-height: 100vh;
  background: var(--bg_color_light);
  font-family: epilogue, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* this header will be for all the other pages only */

header {
  background-color: var(--bg_color_dark);
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: var(--title_color_dark);
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

#logo {
  height: 50px;
  width: auto;
  margin-left: 1.5rem;
  filter: invert(70%);
}

.logout {
  background: var(--button_color_light);
  padding: 10px 20px;
  border-radius: var(--br);
  transition: all 0.3s ease;
}

.logout:hover {
  background-color: var(--accent_color);
  color: var(--title_color_dark);
}

/* search inputs */
input {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 2px 20px;
}

input:focus {
  outline: none;
  border-color: #333;
}

.search_container {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#search {
  padding-left: 30px;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
