{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/admin/panel.css' %}">
{% endblock %}
{% block content %}
	<h1>Admin panel</h1>

	<article>
		<div class="total-numbers">
			<h3>Total users: {{ total_users }}</h3>
			<p><span class="bold_text">New users in the last day:</span> {{ new_users_last_day }}</p>
			<p><span class="bold_text">New users in the last week:</span> {{ new_users_last_week }}</p>
			<p><span class="bold_text">New users in the last month:</span> {{ new_users_last_month }}</p>

			<h3>Total cards: {{ total_cards }}</h3>
			<p><span class="bold_text">New cards in the last day:</span> {{ new_cards_last_day }}</p>
			<p><span class="bold_text">New cards in the last week:</span> {{ new_cards_last_week }}</p>
			<p><span class="bold_text">New cards in the last month:</span> {{ new_cards_last_month }}</p>
		</div>
	</article>

	<a href="{% url 'user_list' %}">View all Users</a>
{% endblock %}
