{% extends "app/base.html" %}
{% load static %}
{% block content %}
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'user_list' %}">Your wishlist</a>

<section>
    <h2>{{ card_id.title }}</h2>
    <img src="{{ card_id.image.url }}" alt="{{ card_id.title }}" width="500px" />
    <p>{{ card_id.user }}</p>
    <span>{{ card_id.likes }}</span>
    {% if request.user != card_id.user %}
        <a href="{% url 'increment_likes' card_id.id %}">Like</a>
    {% endif %}
    <ul>
        {% for tag in tags %}
        <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>

    {% if request.user == card_id.user %}
        <div>
            <a href="{% url 'edit_card' card_id.id %}">Edit</a>
            <a href="{% url 'delete_card' card_id.id %}">Delete</a>
        </div>
    {% endif %}

    <h3>Comments</h3>

    <form method="POST" action="{% url 'add_comment' card_id=card_id.id %}">
        {% csrf_token %}
        <label for="content">Comment:
            <textarea name="content" required></textarea>
        </label>
        <button type="submit">Add Comment</button>
    </form>

    <article>
        <ul>
            {% for comment in comments %}
            <li>
                <p>{{ comment.content }}</p>
                <p>By {{ comment.user }}</p>
            </li>
            {% empty %}
            <li>No comments yet</li>
            {% endfor %}
        </ul>
    </article>
</section>
{% endblock %}