{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/card-detail.css' %}">
{% endblock %}
{% block js %}
<script defer src="{% static 'js/card-detail.js' %}"></script>
{% endblock %}
{% block content %}


<section class="card-detail">
    <div class="leftdetails-container">
        <div class="leftdetails">

            <h2 class="cardtitle">{{ card.title }}</h2>

            <img class="carddetailimg" src="{{ card.image.url }}" alt="{{ card.title }}" />

            <div class="carddetailsubmenu">
                <p class="cardusername">user | {{ card.user }}</p>
                <span class="carddetaillikes">{{ card.likes }}</span>
                {% if request.user != card.user %}
                {% if not has_liked %}
                <a class="likecount" href="{% url 'increment_likes' card_id=card.id %}">Likes</a>
                {% endif %}
                {% if has_liked %}
                <a class="dislikecount" href="{% url 'decrement_likes' card_id=card.id %}">Dislike</a>
                {% endif %}
                {% endif %}
            </div>

            <div class="scroller" data-direction="right" data-speed="slow">
                <ul class="tag-list scroller__inner">
                    {% for tag in tags %}
                    <li class="tagname">{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            {% if request.user == card.user %}
            <div class="carddetailbtns">
                <a class="editbtn" href="{% url 'edit_card' card.id %}">Edit</a>
                <a class="deletebtn" href="{% url 'delete_card' card.id %}">Delete</a>
            </div>

        </div>
    </div>
    {% endif %}

    <div class="rightdetails">
        <div class="comment-container">
            <h3 class="commenttitle">Comments</h3>

            <div class="comment-list-container">

                <article class="commentarea">
                    <ul>
                        {% for comment in comments %}
                        <li class="commentlist">
                            <p class="cardcomment">{{ comment.content }}</p>
                            <p class="cardcommentuser">By {{ comment.user }}</p>
                        </li>
                        {% empty %}
                        <li class="commentwarning">No comments yet</li>
                        {% endfor %}
                    </ul>
                </article>

            </div>
            <div class="submitcomment">

                <form class="comment-box" method="POST" action="{% url 'add_comment' card_id=card.id %}">
                    {% csrf_token %}

                    <label for="content">
                        <textarea placeholder="Add a comment" name="content" required wrap="soft"></textarea>
                    </label>

                    <button class="submitbtn" type="submit">Submit</button>
                </form>

            </div>

        </div>
    </div>
</section>
{% endblock %}
