<h1>Create Wish List</h1>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'user_list' %}">Your wishlist</a>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="title">
        Title:
        <input id="title" type="text" name="title" required>
    </label>
    <label for="image">
        Image:
        <input id="image" type="file" name="image" required>
    </label>
    <label for="tagInput">
        Tag:
        <input id="tagInput" type="text" name="new_tag">
    </label>
    <label for="tagSelect{{ tag.id }}">
        {% for tag in tags %}
            <input id="tagSelect{{ tag.id }}" type="checkbox" name="tags" value="{{ tag.id }}">{{ tag.name }}
        {% endfor %}
    </label>
    <button type="submit">Create</button>
</form>
