<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sign in - sign up</h1>

    {% if request.user.is_authenticated %}
    <p>You are already logged in as {{ request.user.username }}</p>
    <a href="{% url 'logout' %}">Log out</a>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'register' %}">Sign up</a>
    <a href="{% url 'login' %}">Log in</a>
    {% endif %}

    <h1>Start wishing</h1>
    <a href="{% url 'user_list' %}">Your wishlist</a>
    <a href="{% url 'create_card' %}">Create card</a>

    <form method="GET">
        {% csrf_token %}
        <label for="search">Search:</label>
        <input type="text" id="search" name="search" value="{{ request.GET.search }}">
        <button type="submit">Search</button>
    </form>
    
    <form method="GET">
        {% csrf_token %}
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort">
            <option value="latest" {% if sort_by == 'latest' %}selected{% endif %}>Latest</option>
            <option value="oldest" {% if sort_by == 'oldest' %}selected{% endif %}>Oldest</option>
            <option value="likes" {% if sort_by == 'likes' %}selected{% endif %}>Popularity</option>
            <option value="alphabetical" {% if sort_by == 'alphabetical' %}selected{% endif %}>Alphabetical</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    
    <form method="GET">
        {% csrf_token %}
        <label>Filter by tag:</label>
        {% for tag in tags %}
            <input type="checkbox" name="tags" value="{{ tag.id }}" {% if tag.id|stringformat:"s" in selected_tags %}checked{% endif %}>
            <label>{{ tag.name }}</label>
        {% endfor %}
        <button type="submit">Apply Filter</button>
    </form>

    {% if selected_cards %}
        {% for selected_card in selected_cards %}
            <article>
                <h2>{{ selected_card.title }}</h2>
                <a href="{% url 'card_detail' selected_card.id %}">
                    <img src="{{ selected_card.image.url }}" alt="{{ selected_card.title }}" width="250px" />
                </a>
                <p>{{ selected_card.user }}</p>
                <span>{{ selected_card.likes }}</span>
                <ul>
                    {% for tag in selected_card.tag.all %}
                    <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </article>
        {% endfor %}
        {% else %}
        <p>No item found</p>
    {% endif %}
  </body>
</html>
