{% extends "app/base.html" %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}
{% block js %}
<!-- gsap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
{% endblock %}
{% block content %}

<section class="hero">
    <h1>Welcome to Wishcraft - Where Wishes Come True!</h1>
    <p>At Wishcraft, experience the magic of Pinterest combined with a user-friendly Wishlist platform. </p>
    <p>Sign up now to manifest
        your dreams!</p>
    <div class="first_cta">
        <a href="{% url 'register' %}">Get Started!</a>
        <a href="{% url 'login' %}">Log in</a>
    </div>
</section>
<section class="gallery"></section>

<section class="container">
</section>

<section class="second_cta">
    <h4>Create, Share, Connect</h4>
    <p>
        Wishcraft is not just a Wishlist website; it's a community of dreamers and wish-makers. <br> Sign up today to start
        curating
        your perfect lists and get inspired by others' creations.</p>
    <h3>Ready to bring your Wishlist vision to life?</h3>

    <a href="{% url 'register' %}">Register now!</a>
    <a href="{% url 'login' %}">Log in</a>
</section>
{% endblock %}
{% block script %}
<script type="module">
    import { items } from "{% static 'js/items.js' %}";

    const gallery = document.querySelector(".gallery");

    const itemPositions = [
        { top: "-5%", left: "5%" },//image 1
        { top: "40%", left: "-5%" },//image 2
        { top: "20%", left: "28%" },//image 3
        { top: "60%", left: "40%" },//image 4
        { top: "65%", left: "10%" },//image 5
        { top: "-10%", left: "60%" },//image 6
        { top: "10%", left: "85%" },//image 7
        { top: "35%", left: "58%" },//image 8
        { top: "68%", left: "74%" },//image 9
        { top: "50%", left: "90%" },//image 10
    ];

    items.forEach((itemData, index) => {
        const item = document.createElement("div");
        item.classList.add("item");

        const position = itemPositions[index];
        item.style.top = position.top;
        item.style.left = position.left;

        const img = document.createElement("img");
        img.src = itemData.img;
        item.appendChild(img);

        gallery.appendChild(item);
    });


    let animate = false;
    gallery.addEventListener('mouseenter', () => {
        animate = true;
    });

    gallery.addEventListener('mouseleave', () => {
        animate = false;
    });

    document.addEventListener('mousemove', (e) => {
        if (animate) {
            gallery.querySelectorAll('.item').forEach((item, index) => {
                const animationFactor = items[index].parllaxSpeed;

                const deltaX = (e.clientX - window.innerWidth / 2) * animationFactor;
                const deltaY = (e.clientY - window.innerHeight / 2) * animationFactor;

                gsap.to(item, { x: deltaX, y: deltaY, duration: 0.75 });
            });
        }
    });

</script>


<script src="{% static 'js/scroll_items.js' %}"></script>

<script type="module" src="{% static 'js/app.js' %}" data-register-url="{% url 'register' %}"
    id="app-script-tag"></script>


{% endblock %}
