{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/user_wishlist.css' %}">
{% endblock %}
<!-- JS -->
{% block js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% block content %}
<section>
    <h1>{{ request.user.username }}'s wishlist</h1>
    <section class="article_cards">
        {% if searched_cards %}
            {% for card in searched_cards %}
                <article>
                    <a href="{% url 'card_detail' card.id %}">
                        {% if card.image %}
                            <img src="{{ card.image.url }}" alt="{{ card.title }}" width="250px" />
                        {% endif %}
                    </a>
                    <h2>{{ card.title }}</h2>
                    <div class="user_likes">
                        <i class="fa-solid fa-heart"></i>
                        <p>{{ card.likes }}</p>
                    </div>
                    <ul>
                        {% for tag in card.tag.all %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </article>
            {% endfor %}
        {% else %}
            {% if not user_wishlists %}
                <p>No wishlist found</p>
            {% else %}
                <p>No match found</p>
            {% endif %}
        {% endif %}
    </section>
</section>
{% endblock %}
